{% extends '::base.html.twig' %}
{% block title %}Все сообщения!{% endblock%}
{% block body %}
    <p>Все сообщения!</p></br>
    {% for message in list %}
        {% for files in message.files %}

             <p> Сообщение №{{ message.id }} :{% for file in files.file %} <a href="{{ asset('uploads/files/' ~ file) }}">Посмотреть файл (PDF)</a> {% endfor %}Заголовок:{{ message.title }} Сообщение:{{ message.message }}</p>

        {% endfor %}




    {% endfor %}
    <a href="{{ path('messenger_message_sendmessages') }}">Отправить сообщение!</a></br>
    <a href="{{ path('messenger_message_homepage') }}">На главную</a>

{% endblock %}