{% extends '::base.html.twig' %}
{% block title %}Отправить сообщение{% endblock%}
{% block body %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.file) }}
    {{ form_row(form.title) }}
    {{ form_row(form.message) }}


    {{ form_rest(form) }}
    {% for flashMessage in app.session.flashbag.get('notice') %}

            {{ flashMessage }}

    {% endfor %}

    </br><a href="{{ path('messenger_message_homepage') }}">На главную</a></br>
    <a href="{{ path('messenger_message_listmessages') }}">Посмотреть все сообщения!</a>
{% endblock %}